<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="client-key" value="abcdasdfasdfasdfaf"/>
    <add key="client-secret" value="abcdasdfasdfasdfaf"/>
    <add key="url" value="http://localhost:4000"/>
    <add key="response-path" value="..\..\responses"/>
  </appSettings>
</configuration>
